run = "bash start_replit.sh"
entrypoint = "app.py"

# Language configuration
language = "python3"

# Packaging and configuration
hidden = [".config", "venv", ".gitignore", ".git"]

# Environment variables
[env]
PYTHONUNBUFFERED = "1"

# Enables the Always-On feature
[backgroundActivity]
enabled = true

[nix]
channel = "stable-22_11"

[unitTest]
language = "python3"

[deployment]
run = ["bash", "start_replit.sh"]
deploymentTarget = "cloudrun" 